body{
	font-family: Quicksand;
	font:Quicksand;
	
	
}

html{
	background-image:url("images/ocean.JPG");
	background-size:cover;
	font-family:Quicksand;

}

.topnav{
    background-color:#ffffff;
    overflow: hidden;
	display: block;
}

/* Style the links inside the navigation bar */
.topnav a{
    float: left;
    color: #00b8e6;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5vw;
	width:22%;
	margin:0 auto;
	text-align:center;
	border-radius:4px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.container{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
#headlinecontainer{
	display:flex;
	flex-direction:column;
	padding: 125px 30px 30px 300px;
}
#headline{
	font-family:Quicksand;
	color:#ffffff;
	background:transparent;
	text-align:center;
	font-size:xx-large;
	display:flex;
	padding-left:150px;
	
}
#underheadline{
	
	color:#ffffff;
	background:transparent;
	text-align:center;
	font-size:xx-large;
	display:flex;
	
}
h1{
	font:Quicksand;
	text-align:center;
}
h2{
	color:white;
	text-align:center;
}
h3{
	color:#ffffff;
	text-align:center;
}
h4{
	color:#ffffff;
	text-align:center;
}
p{
	color:#ffffff;
	text-align:center;
}

.Welcome{
	font:Amiko;
	display:inline-block;
	float:left;
	width:50%;
	color:#00a3cc;
	padding:10px;
}
#WelcomeBlue{
	color:#00ccff;
	font-size:x-large;
}
#JuliaPic{
	display:none;
	text-align:center;
	float:right;
	width:30%;
}
#me{
	border-radius:20px;
	
}
.Hello{
	display:inline-block;
	float:left;
	width:50%;

}
button{
	display:none;
}
/*@media all and (min-width:900px){
  body{
	background-color:white;*/

.places{
	text-align:center;
}
#world{
	height:15%;
	width:15%;
	border-radius:50%;
	

}
ul{
	list-style-type:none;
}

.airplane {
	border-radius: 0%;
	background: transparent;
	position: fixed;
	animation-name: fly;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	/*animation-timing-function: ease-out;*/
	animation-fill-mode: forwards;
	width: 30%;
	height: auto;
}

@keyframes fly {
0% {
	left: -25%;
}
100% {
	left: 115%;
}
}
#airplane {
	left: 5%;
}

#viola{
	border-radius:50%;
	float:right;
	height:400px;
	width:300px;
	display:flex;
	padding:50px 60px 30px 30px;
	box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}
#places{
	text-align:center;
}